default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['POSTGRES_HOST'] %>      # например turntable.proxy.rlwy.net
  port: <%= ENV['POSTGRES_PORT'] %>      # например 49158
  username: <%= ENV['POSTGRES_USER'] %>  # Railway username
  password: <%= ENV['POSTGRES_PASSWORD'] %>  # Railway password
  database: <%= ENV['POSTGRES_DB'] %>    # обычно 'railway'

development:
  <<: *default

production:
  <<: *default

