default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['POSTGRES_USER'] || 'postgres' %>
  password: <%= ENV['POSTGRES_PASSWORD'] || 'mysecretpassword' %>
  host: <%= ENV['POSTGRES_HOST']%>
  port: <%= ENV['POSTGRES_PORT'] || 5432 %>
  pool: 5

development:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] || 'stacklevel_development' %>

production:
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV["DATABASE_URL"] %>
  
