default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: stacklevel_development
  username: postgres
  password: 12345678
  host: localhost
  port: 5432

test:
  <<: *default
  database: stacklevel_test
  username: postgres
  password: 12345678
  host: localhost
  port: 5432

production:
  url: <%= ENV['DATABASE_URL'] %>
  pool: 5
  timeout: 5000
