@import "./variables.scss";

.about-us__section--wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  position: relative;
}

.about-us__section--bg-dots {
  grid-column: 1;
  grid-row: 2;

  width: 100%;
  height: 100%;

  background-size: 35px 35px;
  background-repeat: repeat;
  background-image: -webkit-linear-gradient(
      315deg,
      #c4c2cc 3px,
      transparent 5px
    ),
    -webkit-linear-gradient(135deg, #c4c2cc 3px, transparent 5px);
  background-image: linear-gradient(135deg, #c4c2cc 4px, transparent 4px),
    linear-gradient(315deg, #c4c2cc 4px, transparent 4px);
  background-position: 10px 19px, 50.5px 59.5px;
}

.about-us__section {
  display: flex;
  width: 100%;
  overflow: hidden;

  grid-column: 1 / span 3;

  @include fluid-type1(18px, 24px);
  line-height: 1.2;
  font-family: Formular;

  @include respond-to("extra") {
    margin: 0 auto;
    max-width: 1920px;
  }

  .about-us__section__child {
    flex: 1;
    z-index: 2;

    &:first-child {
      display: none;

      @include respond-to("large") {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .section__child__logo {
        width: 100%;
        max-width: 500px;
        height: 100%;
        max-height: 170px;
        margin: 0 auto;
        background: white;

        svg {
          width: 100%;
          height: 100%;
        }
      }
      .section__child__dots {
        position: absolute;
      }
    }
    &:last-child {
      background: #2215f9;
      min-height: 723px;
      margin: 0 10px;
      display: inline-flex;
      align-items: center;

      img {
        display: none;
      }

      @include respond-to("medium") {
        img {
          display: unset;
          min-width: 260px;
          max-width: 260px;
          min-height: 680px;
          max-height: 680px;
          position: relative;
          right: -30px;
          bottom: 20px;
        }
      }

      .about-us__section__child__description {
        color: #ffffff;
        padding: 50px;

        @include respond-to("small") {
          padding: 50px 0 50px 50px;
        }
      }
    }
  }
}

.about-us__section-dots {
  margin: 40px;

  grid-column: 2;
}

.about-us__section__description {
  margin: 100px auto;
  background: white;

  @include fluid-type1(18px, 24px);
  line-height: 1.2;
  font-family: Formular;

  p {
    color: #000000;
  }
}

.section__child__dots {
  left: -200px;
  position: absolute;
  top: -490px;
  display: none;

  @include respond-to("small") {
    display: unset;
  }
}

.feedback-slider__item {
  width: 90%;
  margin: 0 auto;
  position: relative;
  .feedback__content {
    display: flex;
  }
  .feedback__photo {
    object-fit: cover;
    object-position: top;
    width: 100px;
    height: 100px;
    z-index: 2;
    position: absolute;
    top: -40px;

    @include respond-to("small") {
      width: 150px;
      height: 150px;
    }
    @include respond-to("medium") {
      max-width: 300px;
      max-height: 300px;
      height: auto;
      width: 35%;
      border: 1px solid #e8e7e5;
      border-right: unset;
      border-bottom: $border-bottom;
      position: relative;
      top: 0;
    }
  }
  .feedback__text {
    padding: 20px;
    border: 1px solid #e8e7e5;
    border-bottom: $border-bottom;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include fluid-type1(18px, 24px);
    line-height: 1.2;

    p {
      @include respond-to("medium") {
        margin: 0 0 0 20px;
      }
      margin: 0;
    }
    .feedback__text_author {
      color: #2215f9;
      font-weight: 600;
      text-transform: uppercase;

      @include fluid-type1(23px, 36px);
      margin: 0 0 20px 100px;

      @include respond-to("small") {
        margin: 0 0 70px 150px;
      }
      @include respond-to("medium") {
        margin: 0 0 30px 0;
      }
    }

    .feedback__text_author--no-image {
      margin: 0 0 20px 0;

      @include respond-to("small") {
        margin: 0 0 70px 0;
      }
      @include respond-to("medium") {
        margin: 0 0 30px 0;
      }
    }
    .feedback__text_comment {
      color: #000000;

      margin-bottom: 20px;
    }
    .feedback__text_job {
      color: #2215f9;
      margin-top: auto;
      font-weight: 500;
    }
  }
}

.feedback__quotes {
  width: 18%;
  position: absolute;
  top: -7%;
  left: 80%;
  z-index: 3;
  @include respond-to("small") {
    left: 84%;
    width: 15%;
    z-index: 3;
  }
  @include respond-to("large") {
    left: 85%;
    width: 11%;
    top: -10%;
  }
  @include respond-to("full") {
    left: 90%;
  }
}
