@import "./variables";

.team-section {
  .t-subtitle:last-child {
    @include respond-to("small") {
      width: 800px;
    }
    @include respond-to("large") {
      width: 1028px;
    }
  }
  .submain-button {
    width: 100%;

    @include respond-to("medium") {
      min-width: 300px;
    }
  }
}

.team-section__collapse {
  margin-top: 100px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;

  font-family: Formular;
  line-height: 1.2;

  .collapse--bg-dots {
    background-size: 35px 35px;
    background-repeat: repeat;
    background-image: -webkit-linear-gradient(
        315deg,
        #c4c2cc 3px,
        transparent 5px
      ),
      -webkit-linear-gradient(135deg, #c4c2cc 3px, transparent 5px);
    background-image: -webkit-linear-gradient(
        315deg,
        #c4c2cc 4px,
        transparent 4px
      ),
      -webkit-linear-gradient(135deg, #c4c2cc 4px, transparent 4px);
    background-image: linear-gradient(135deg, #c4c2cc 4px, transparent 4px),
      linear-gradient(315deg, #c4c2cc 4px, transparent 4px);
    background-position: 10px 0, 50.5px 40.5px;
  }

  .shared__width-wrapper {
    grid-column: 2;
    margin: 0;
    padding: 0 15px;
  }

  h2 {
    font-family: Formular;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: unset;
    text-align: center;

    padding: 20px 20px 50px 20px;
    background: #fff;

    color: #000000;

    @include fluid-type1(24px, 36px);
  }
}

.collapsible-item {
  background-color: white;
  width: 100%;
  text-align: left;
  outline: none;
  margin-bottom: 60px;

  border: 1px solid #e8e7e5;
  box-sizing: border-box;
  box-shadow: 0 5px 0 0 #2215f9;

  user-select: none;
}

.collapse-item__header {
  font-weight: 600;
  padding: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;

  @include fluid-type1(18px, 28px);

  color: #2215f9;

  svg {
    margin-right: 10px;
    transition: transform 0.5s ease;
  }
}

.collapse-item__content {
  padding: 0 30px 30px 30px;
  display: none;
  overflow: hidden;
  background-color: white;

  p {
    font-family: Formular;

    color: #000000;
  }
}

.collapse-item__content-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  line-height: 1.2;
  @include fluid-type1(18px, 24px);

  @include respond-to("medium") {
    flex-direction: row;
  }

  .content-title__subtitle {
    flex: 1;
    margin-bottom: 20px;

    @include respond-to("medium") {
      margin: 0;
    }

    h4,
    p {
      margin: 0;
    }
    h4 {
      font-weight: 600;
    }
  }
  .content-title__button {
    flex: 1 1 auto;
    display: flex;
    order: 1;

    @include respond-to("medium") {
      justify-content: flex-end;
      order: unset;
    }

    div {
      width: 100%;
      max-width: 310px;
      height: 75px;
      padding: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      @include fluid-type1(18px, 24px);
      line-height: 1.2;
    }
  }

  .content-title__description {
    flex: 1 1 auto;
    margin: 0 0 20px 0;

    p {
      margin: 0;
    }
  }
}

// vectors

.careers-vector-1 {
  position: absolute;
  top: 550px;
  z-index: 2;

  display: none;

  @include respond-to("medium") {
    // display: inherit;
  }
}
.careers-vector-2 {
  position: absolute;
  left: 10px;
  top: 800px;
  z-index: -1;

  display: none;

  @include respond-to("medium") {
    display: inherit;
  }
}
