@import "./variables";

$section-padding-y: 42;
$section-padding-x: 48;
$link-text-size: 13;

:root {
  // font-size: calc(1vw + 1vh + 0.5vmin);
  .form {
    margin-bottom: 100px;
    margin-top: 50px;

    @include respond-to("small") {
      margin-bottom: 120px;
      margin-top: 0;
    }
  }

  .title-form__search-subtitle {
    font-family: Formular;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 10px;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-section {
    top: -60px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
  }

  .list-items {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 5vw;

    @include respond-to("small") {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @include respond-to("large") {
      grid-column-gap: 5%;
      grid-row-gap: 4vw;
      grid-template-columns: repeat(3, 30%);
    }
  }

  .list-item__logo {
    position: relative;
    min-width: 20%;
    padding-bottom: 20%;
    background: white;
    height: 100%;
  }

  .list-item__content {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    font-family: Formular;
    font-size: 4.5vw;
    line-height: 4.5vw;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

    color: #ffffff;

    @include respond-to("small") {
      font-size: 14px;
      line-height: 19px;
    }
    @include respond-to("medium") {
      font-size: 16px;
      line-height: 24px;
    }
    @include respond-to("large") {
      font-size: 13px;
      line-height: 19px;
    }
    @include respond-to("full") {
      font-size: 19px;
      line-height: 29px;
    }
  }

  .list-content {
    align-items: center;
    width: 100%;
    display: flex;
    align-self: center;
    z-index: 1;
  }

  .case-link {
    display: block;
    text-decoration: none;
  }

  .list-item__content-container {
    display: flex;
    padding: 7%;
    width: 100%;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 130px;
      background: linear-gradient(to top, #000, transparent);
    }
  }

  .logo__container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    &-logo {
      width: 80%;
      object-fit: cover;
    }

    &-background {
      position: absolute;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .list-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    background-size: cover;
    color: white;
    background: blue;
  }

  .img-background {
    background-size: cover;
  }

  //unique case styles

  //case study title section

  $subtitle: 40px;
  $subtitle-height: 49px;

  .subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: $font-main;
    padding: 40px 0;

    @include respond-to("small") {
      padding: 65px;
    }
  }

  .solutions__descriptions__opacity-gradient {
    background: linear-gradient(216.22deg, #1b0dff 0.06%, #ff0052 100%);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .vector_1 {
    position: absolute;
    background-image: url(case_studies/vector1.svg);
    z-index: 1;
    background-repeat: no-repeat;
    right: 0;
    left: 25px;
    top: 95px;
    height: 955px;

    @include respond-to("small") {
      left: 24.19%;
    }
    @include respond-to("medium") {
      left: 36.19%;
    }
    @include respond-to("large") {
      left: 43.19%;
    }
    @include respond-to("full") {
      left: 52.19%;
    }
    @include respond-to("extra") {
      left: 57.19%;
      height: 1100px;
    }
  }
  .vector_2 {
    position: absolute;
    background-image: url(case_studies/vector2.svg);

    z-index: 1;
    background-repeat: no-repeat;
    right: 0;
    left: 25px;
    top: 1100px;
    height: 845px;
  }
  .vector_3 {
    position: absolute;
    background-image: url(case_studies/case-study-dots2.svg);
    z-index: -1;
    background-repeat: no-repeat;
    right: 0;
    left: -55%;
    top: -55px;
    height: 845px;

    @include respond-to("small") {
      left: -22%;
    }
    @include respond-to("medium") {
      left: -8%;
    }
    @include respond-to("large") {
      left: -3%;
    }
    @include respond-to("full") {
      left: 1%;
    }
    @include respond-to("extra") {
      left: 15%;
    }
  }

  .case-studies__title-vector-2 {
    position: absolute;
    z-index: -1;
    left: 10px;
  }

  .case-study__section {
    width: 100%;
    position: relative;
    font-family: $font-main;

    &--title {
      overflow: hidden;
      position: relative;
      background: linear-gradient(216.22deg, #1b0dff 0.06%, #ff0052 100%);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }
    }

    &--title-background {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 778px;
      background: linear-gradient(216.22deg, #1b0dff 0.06%, #ff0052 100%);

      @include respond-to("medium") {
        top: 150px;
      }
    }

    &--title__marketplace {
      width: 90%;
      height: 666px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      @include respond-to("small") {
        width: 700px;
      }
      @include respond-to("medium") {
        width: 900px;
      }
      @include respond-to("large") {
        width: 1100px;
      }
      @include respond-to("full") {
        width: 1300px;
      }
      @include respond-to("extra") {
        width: 1543px;
      }

      &-image {
        position: absolute;
      }

      &-content {
        margin: 0 auto;
        height: 400px;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        @include respond-to("medium") {
          flex-direction: row;
          justify-content: space-between;
          height: 700px;
        }

        .t-marketplace-content {
          @include fluid-type1(31px, 48px);
          line-height: 1.2;
          text-transform: uppercase;
          font-weight: 500;
          z-index: 1;
          align-self: baseline;
          @include respond-to("medium") {
            align-self: center;
          }
        }

        .t-marketplace-content__description {
          align-self: baseline;
          @include respond-to("medium") {
            align-self: center;
          }

          .content__description-item {
            margin-bottom: 30px;
          }
          .content__description-item:last-child {
            margin: 0;
          }

          .h4 {
            font-family: Formular;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            margin: 0;
          }
          .p {
            margin: 0;
            font-size: 14px;
          }
        }
      }

      .img-container {
        z-index: -1;
        left: -130px;
        top: 37px;
        position: absolute;
      }
    }

    //technologies section

    &--technologies__subtitle {
      width: auto;
      text-align: center;
    }

    &--technologies__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include respond-to("small") {
        padding-bottom: 105px;
      }

      .technologies__list-item {
        background: white;
        width: 260px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.25px solid #eaeaea;
        font-weight: 600;
        /* down-blue */
        box-shadow: 0px 5px 0px #2215f9;

        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;

        color: #2215f9;

        margin: 17px;
      }
    }

    &--technologies__descriptions {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      align-items: stretch;

      @include respond-to("small") {
        flex-direction: row;
        .description-case:first-child {
          margin-right: 15px;
        }
        .description-case:last-child {
          margin-left: 15px;
        }
      }

      .description-case {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 40px;

        @include respond-to("small") {
        }

        .t-description-case__title {
          text-align: center;
          font-family: Formular;

          text-align: center;
          text-transform: uppercase;

          padding: 20px 0;

          @include respond-to("small") {
            padding: 40px;
            align-self: none;
          }
        }

        .t-description-case__description {
          background: white;
          text-align: center;
          border: 0.25px solid #eaeaea;
          box-shadow: 0px 5px 0px #2215f9;
          padding: 30px;
          font-family: Formular;

          @include fluid-type1(18px, 21px);
          line-height: 1.2;

          height: 100%;
        }
      }
    }

    // solution section

    &--solutions {
      position: relative;
      // overflow: hidden;

      svg {
        position: absolute;
        top: -65px;
        right: 500px;
      }
    }

    &--solutions__subtitle {
      width: auto;
      text-align: center;
    }

    &--solutions__descriptions {
      .solutions__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include respond-to("medium") {
          flex-direction: row;
        }
      }

      z-index: -2;
      position: relative;
      margin: 0 auto;
      color: white;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: linear-gradient(
          313.94deg,
          rgba(34, 21, 249, 0.53) 0%,
          rgba(255, 0, 82, 0.67) 100%
        ),
        url("_slider-img-1.png");
      background-size: cover;
      background-position: center;

      @include respond-to("small") {
        width: 700px;
        height: 400px;
        flex-direction: row;
        margin-bottom: 40px;
      }
      @include respond-to("medium") {
        width: 900px;
      }
      @include respond-to("large") {
        width: 1100px;
      }
      @include respond-to("full") {
        width: 1300px;
        height: 416px;
      }
      @include respond-to("extra") {
        width: 1543px;
        height: 416px;
      }

      .solutions__descriptions-item {
        z-index: 1;
        flex: 1 1;
        flex-direction: column;
        margin: 30px;

        .t-descriptions-item__title {
          @include fluid-type1(21px, 24px);
          line-height: 1.2;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        .t-descriptions-item__description {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    // bussines results

    &--bussines-results__subtitle {
      width: auto;
      text-align: center;
    }

    &--bussines-results__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;

      justify-content: center;

      .bussines-results__list-item {
        background: white;
        width: 260px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.25px solid #eaeaea;
        font-weight: 600;
        box-shadow: 0px 5px 0px #2215f9;

        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;

        color: #2215f9;

        margin: 17px;
      }
    }

    // reviews

    &--reviews {
      margin-bottom: 80px;
    }

    &--reviews__subtitle {
      width: auto;
      text-align: center;
    }

    &--reviews__questions {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      margin: 100px auto 0 auto;

      @include respond-to("small") {
        flex-direction: row;
      }
      .reviews__link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
      .reviews__questions-item {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 140px;
        display: flex;
        justify-content: center;
        color: white;

        @include fluid-type1(24px, 31px);
        line-height: 1.2;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 30px;

        box-sizing: border-box;

        color: white;
        background: #2215f9;
        align-items: flex-end;

        div {
          width: 100%;
          padding: 15px;
        }

        @include respond-to("full") {
          width: 419px;
        }
      }
      .reviews__questions-item:first-child {
        @include respond-to("small") {
          margin-right: 20px;
        }
      }
      .reviews__questions-item:hover {
        cursor: pointer;
        animation: case-study__hover-button 0.8s ease forwards;
        box-shadow: inset 0px 0px 0px 5px #2215f9;
      }
      .reviews__questions-item:last-child {
        @include respond-to("small") {
          margin-left: 20px;
        }
      }
    }
  }
}

.case-study__dots-vector1 {
  left: -220px;
  position: absolute;
  top: 95px;
  z-index: -1;
}

@keyframes case-study__hover-button {
  from {
    background-color: #2215f9;
    color: #fff;
  }
  to {
    background-color: #fff;
    color: #2215f9;
    // padding-top: 3.1vw;
    // padding-bottom: 1.9vw;
  }
}
@keyframes case-study__hover-button__reverse {
  from {
    color: #2215f9;
    background-color: #fff;
  }
  to {
    background-color: #2215f9;
    color: #fff;
    padding-top: 3.1vw;
    // padding-bottom: 1.9vw;
  }
}

.case-studies__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  border-radius: unset;
  color: #fff !important;
  background: none !important;
  border-radius: unset;
  border-bottom: solid 5px #e8e7e5;

  &::placeholder {
    color: #fff !important;
  }
}

.case-study__section-main {
  padding-top: 60px;
  .shared__width-wrapper {
    max-width: 1000px;
  }

  .case-study__section--reviews__questions {
    margin-top: 40px !important;
  }

  .case-study__section--reviews {
    .testimonials {
      margin-top: 90px;

      @include respond-to("medium") {
        margin-top: 50px;
      }
    }
  }
}

.section-common {
  margin-bottom: 60px;

  @include fluid-type1(16px, 21px);
  line-height: 1.2;
  font-family: Formular;

  .shared__sections-subtitles {
    text-align: left;
    padding: 0 0 60px 0;
  }

  .section__facts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f1f1f1;
    padding: 25px;

    .fact {
      padding: 10px;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
      flex: 1 1 25%;
      text-align: center;

      .title {
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        @include fluid-type1(18px, 24px);
        color: #2215f9;
      }

      .description {
        line-height: 1.2;
        @include fluid-type1(16px, 20px);
      }
    }
  }
}

.mfp-counter {
  display: none !important;
}

// .screenshots-examples {
//   width: calc(100% - 40px) !important;
// }

.screenshots-examples--nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;

  @include respond-to("medium") {
    padding-top: 0;
    position: absolute;
    justify-content: space-between;
  }
}

.screenshots-examples__prev {
  min-width: 20px;
  height: 20px;
  background-image: image-url("_prev-feedback.svg");
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
  @include respond-to("medium") {
    width: 30px;
    height: 30px;
  }
}

.screenshots-examples__next {
  min-width: 20px;
  height: 20px;
  background-image: image-url("_next-feedback.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  &:hover {
    cursor: pointer;
  }
  @include respond-to("medium") {
    width: 30px;
    height: 30px;
  }
}

.screenshots-examples--wrapper {
  width: 100%;
  margin: 0 auto;

  @include respond-to("medium") {
    width: 90%;
  }
}

.screenshots-carousel {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
}
