@import "./variables";
.testimonials {
  width: 300px;
  margin: 50px auto 0 auto;
  .testimonials__header {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 10px 10px 0 10px;

    @include respond-to("medium") {
      padding: 50px 50px 0 50px;
    }
    background: #fff;
    width: fit-content;
    text-align: center;
    font-weight: 600;
  }

  .owl-item {
    padding-top: 40px;
    @include respond-to("medium") {
      padding: 60px 0px 40px 0;
    }
  }

  .testimonials__block {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    .feedback-slider {
      height: 100%;
      .owl-stage-outer {
        height: 100%;
        .owl-stage {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
      @include respond-to("small") {
        height: 90%;
      }
    }
    .feedback-slider__item {
      width: 90%;
      margin: 0 auto;
      position: relative;
      .feedback__content {
        display: flex;
      }
      .feedback__photo {
        object-fit: cover;
        width: 100px;
        height: 100px;
        z-index: 2;
        position: absolute;
        top: -40px;

        @include respond-to("small") {
          width: 150px;
          height: 150px;
        }
        @include respond-to("medium") {
          width: 250px;
          height: 250px;
          width: 35%;
          border: 1px solid #e8e7e5;
          border-right: unset;
          border-bottom: $border-bottom;
          position: relative;
          top: 0;
        }
      }
      .feedback__text {
        padding: 20px;
        border: 1px solid #e8e7e5;
        border-bottom: $border-bottom;
        margin-bottom: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;

        @include fluid-type1(18px, 24px);
        line-height: 1.2;

        p {
          @include respond-to("medium") {
            margin: 0 0 0 20px;
          }
          margin: 0;
        }
        .feedback__text_author {
          color: #2215f9;
          font-weight: 600;
          text-transform: uppercase;

          @include fluid-type1(23px, 36px);
          margin: 0 0 20px 100px;

          @include respond-to("small") {
            margin: 0 0 70px 150px;
          }
          @include respond-to("medium") {
            margin: 0 0 30px 0;
          }
        }

        .feedback__text_author--no-image {
          margin: 0 0 20px 0;

          @include respond-to("small") {
            margin: 0 0 70px 0;
          }
          @include respond-to("medium") {
            margin: 0 0 30px 0;
          }
        }
        .feedback__text_comment {
          color: #000000;

          margin-bottom: 20px;
        }
        .feedback__text_job {
          color: #2215f9;
          margin-top: auto;
        }
      }
    }
    .feedback__quotes {
      width: 18%;
      position: absolute;
      top: -7%;
      left: 80%;
      z-index: 3;
      @include respond-to("small") {
        left: 84%;
        width: 15%;
        z-index: 3;
      }
      @include respond-to("large") {
        left: 85%;
        width: 13%;
        top: -10%;
      }
      @include respond-to("full") {
        left: 90%;
      }
    }
  }
  .feedback-slider__nav {
    display: flex;
    align-items: center;

    justify-content: flex-end;
    margin-right: 7vw;

    @include respond-to("full") {
      margin-right: 100px;
    }
    .feedback-slider-nav__prev {
      width: 20px;
      height: 20px;
      background-image: image-url("_prev-feedback.svg");
      background-size: contain;
      background-repeat: no-repeat;

      margin-right: 25%;

      &:hover {
        cursor: pointer;
      }
      @include respond-to("medium") {
        width: 30px;
        height: 30px;
      }
    }
    .feedback-slider-nav__next {
      width: 20px;
      height: 20px;
      background-image: image-url("_next-feedback.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 6%;

      &:hover {
        cursor: pointer;
      }
      @include respond-to("medium") {
        width: 30px;
        height: 30px;
      }
    }
    .feedback-slider__counter {
      font-size: 20px;
      color: #2215f9;
      font-weight: 600;
      @include respond-to("medium") {
        font-size: 24px;
      }
      @include respond-to("full") {
        font-size: 32px;
      }
    }
    // @include respond-to("small") {
    //   margin: 0% 5%;
    // }
    // @include respond-to("large") {
    //   margin: 0% 0 0 40%;
    //   width: 50%;
    // }
  }
  @include respond-to("xs") {
    width: 375px;
  }
  @include respond-to("s") {
    width: 417px;
    margin: 70px auto;
  }
  @include respond-to("small") {
    width: 667px;
    margin: 90px auto 30px auto;
  }
  @include respond-to("medium") {
    width: 892px;
  }
  @include respond-to("large") {
    width: 1000px;
  }
}

.testimonials__wrapper {
  position: relative;
}
