@import "./variables.scss";

.hire-team__section-title {
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  background: linear-gradient(252.07deg, #1b0dff 0.06%, #ff0052 100%),
    url(davi-costa-vVVfoJsYdIU-unsplash.jpg);
}

.hire-team__section-steps {
  overflow: hidden;

  @include respond-to("small") {
    overflow: unset;
  }
  .section-step__title {
    margin: 100px 0 60px 0;
  }
}

.section-step__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 65px;
  grid-auto-rows: minmax(192px, auto);
  margin-bottom: 5px;

  @include respond-to("small") {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @include respond-to("large") {
    // grid-gap: $full-gap;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  .section-step__content__step {
    position: relative;
    background: #ffffff;
    border: 1px solid #e8e7e5;
    box-sizing: border-box;
    box-shadow: 0 5px 0 0 #2215f9;

    padding: 25px 35px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    line-height: 1.2;

    h4,
    p {
      margin: 0;
      padding: 0;
    }

    h4 {
      @include fluid-type1(24px, 36px);
      display: flex;
      align-items: center;
      text-transform: uppercase;

      margin-bottom: 30px;

      color: #2215f9;
    }
    p {
      @include fluid-type1(18px, 24px);

      color: #000000;
    }

    .arrow-vector__container {
      position: absolute;

      bottom: -54px;
      right: 45px;
      transform: rotate(90deg);
      align-self: center;

      @include respond-to("medium") {
        right: -30px;
        bottom: unset;
        transform: unset;
        align-self: unset;
      }

      svg:last-child {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 13px;
      }
    }
  }
}

.hire-team__section-includes {
  .section-includes__title {
    margin: 100px 0 70px 0;
  }
}

.section-includes__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(192px, auto);

  margin-bottom: 70px;

  @include respond-to("small") {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  @include respond-to("extra") {
    // grid-gap: $full-gap;
    // grid-template-columns: repeat(5, minmax(270px, 1fr));
  }

  .section-includes__content__item {
    background: #ffffff;
    border: 1px solid #e8e7e5;
    box-sizing: border-box;
    box-shadow: 0 5px 0 0 #2215f9;

    padding: 25px;
    display: flex;
    flex-direction: column;

    line-height: 1.2;

    h4,
    p {
      margin: 0;
    }

    h4 {
      @include fluid-type1(20px, 24px);

      text-transform: uppercase;

      color: #2215f9;
      display: flex;
      align-items: center;
      min-height: 58px;
    }
    p {
      font-size: 18px;
      font-family: Formular;
      margin: 10px 0;
    }
  }
}
.section-includes__button {
  @include fluid-type1(18px, 24px);
  line-height: 1.2;

  width: 100%;
  max-width: 370px;
  height: 75px;
  font-weight: $fw-regular;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 60px;

  margin: 0 auto;

  color: #ffffff;

  background: #2215f9;
}

.section-projects__title {
  margin: 100px 0 60px 0;
}

.section-projects__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.5%;
  grid-auto-rows: minmax(300px, auto);

  margin-bottom: 160px;

  @include respond-to("small") {
    grid-gap: 65px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  @include respond-to("large") {
    grid-template-columns: repeat(3, minmax(30%, 1fr));
  }

  .item-square {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}
.section-project__content-item {
  background: #2215f9;
  display: flex;
  align-items: flex-end;

  color: white;

  @include fluid-type1(18px, 24px);
  line-height: 1.2;

  text-transform: uppercase;
  font-weight: 500;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  cursor: pointer;

  p {
    margin: 30px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    background: linear-gradient(to top, #000, transparent);
  }
}

.hire-team__vector-2 {
  z-index: 1;
  display: none;

  position: absolute;
  right: 0;
  @include respond-to("large") {
    top: 247px;
    display: block;
  }
}
