@import "./variables";

// Gap Breakpoints

// "Full"
$full-gap: 76px;

// "medium"
$medium-gap: 50px;

// "small"
$medium-gap: 25px;

.flexbox-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @include respond-to("small") {
    width: 650px;
  }
  @include respond-to("medium") {
    width: 850px;
  }
  @include respond-to("large") {
    width: 1050px;
  }
  @include respond-to("full") {
    width: 1200px;
  }
  @include respond-to("extra") {
    width: 1476px;
  }
}

.hire-developers__section-title {
  background: linear-gradient(197.93deg, #1b0dff 0.06%, #ff0052 100%);

  overflow: hidden;
}

.shared__section-title__content--hasButton__submain {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;

  .submain-tagline {
    text-align: left;
  }
}

.hire-developers__section-title__subtitle {
  min-height: 239px;

  color: white;

  font-family: Formular;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-items: center;

  @include respond-to("small") {
    flex-direction: row;
  }
  @include respond-to("medium") {
    justify-content: space-between;
  }
  .t-subtitle {
    width: 100%;
    height: 100%;
    padding: 20px 0;

    @include respond-to("small") {
      width: 532px;
    }
  }
  .t-subtitle:last-child {
    text-align: right;
    text-transform: capitalize;
  }

  .section-title__subtitle__vector1 {
  }
}

// Form Section !

.hire-developers__section-form {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px 0;

  @include respond-to("small") {
    padding: 0;
    min-height: 150px;
  }
}

.hire-developers__section-form__subtitle {
  font-family: Formular;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 0;
}

.hire-developers__section-form__selections {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;

  @include respond-to("small") {
    flex-direction: row;
  }

  .selections-choise {
    box-shadow: 0px -5px 0px #e8e7e5 inset;
    font-family: Formular;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    width: 100%;
    margin-bottom: 15px;

    p {
      margin: 0;
      padding: 10px;
      text-transform: capitalize;
    }

    @include respond-to("small") {
      flex: 1;

      &:first-child {
        margin-right: $full-gap;
      }
    }
  }

  .selections-button {
    background: #2215f9;
    color: white;

    font-family: Formular;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    cursor: pointer;

    width: 100%;
    margin-bottom: 15px;

    @include respond-to("small") {
      flex: 1;
      margin-left: $full-gap;
    }
  }
}

// List Section!!

.hire-developers__section-list {
  overflow: hidden;

  @include respond-to("small") {
    overflow: unset;
  }
}

// Development Page!

.hire-developers__section-main {
  .shared__width-wrapper {
    grid-column: 2;
    margin: 0;
    padding: 0 15px;
    max-width: 1000px;
  }

  .section-main--bg-dots {
    background-size: 35px 35px;
    background-repeat: repeat;
    background-image: -webkit-linear-gradient(
        315deg,
        #c4c2cc 3px,
        transparent 5px
      ),
      -webkit-linear-gradient(135deg, #c4c2cc 3px, transparent 5px);
    background-image: -webkit-linear-gradient(
        315deg,
        #c4c2cc 4px,
        transparent 4px
      ),
      -webkit-linear-gradient(135deg, #c4c2cc 4px, transparent 4px);
    background-image: linear-gradient(135deg, #c4c2cc 4px, transparent 4px),
      linear-gradient(315deg, #c4c2cc 4px, transparent 4px);
    background-position: 10px 11px, 50.5px 51.5px;
  }

  padding: 50px 0 55px 0;
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto 1fr;

  h2 {
    font-family: Formular;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: unset;
    text-align: left;

    padding: 50px 0;

    color: #000000;

    @include fluid-type1(24px, 36px);
  }

  h3 {
    margin: 0;
    font-family: Formular;
    font-weight: 500;
    line-height: 1.2;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: unset;

    padding: 30px 0;
    color: #2215f9;

    // color: #000000;

    @include fluid-type1(20px, 30px);
  }

  &--description {
    @include fluid-type1(16px, 21px);
    line-height: 1.2;
    font-family: Formular;
    // padding: 30px;
  }

  &--subdescription {
    @include fluid-type1(18px, 24px);
    line-height: 1.2;
    font-family: Formular;
    // padding: 30px;
  }

  &--reasons {
    padding: 50px 0 0 0;
    h2 {
      padding: 0 0 20px 0;
    }
  }

  ul {
    background: #ffffff;
    margin: 0;
    padding: 30px 0 0 30px;
    list-style-position: inside;
    list-style-type: none;
    height: 100%;
  }

  ul li::before {
    content: "▪"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2215f9; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-right: 0.5em;
  }

  li {
    font-family: Formular;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    color: #000000;

    &:last-child {
      padding: 0;
    }
  }
}

.hire-developers__link {
  text-decoration: none;
  flex: 1 1 100%;
  margin-top: 50px;
  .hire-developers__button {
    @include fluid-type1(18px, 24px);
    line-height: 1.2;
    width: 100%;
    min-height: 75px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin: 0 auto;
    color: #ffffff;
    background: #2215f9;

    @include respond-to("medium") {
      width: 75%;
    }
  }
}

.hire-developers__common-titles,
.hire-developers__common-subtitles {
  font-family: Formular;
  font-weight: 600;
  line-height: 1.2;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
  text-align: center;

  padding: 50px 0;

  color: #000000;

  @include fluid-type1(24px, 36px);
}

.hire-developers__section-services-list__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 100px;
  grid-auto-rows: auto;

  @include respond-to("large") {
    // grid-gap: $full-gap;
    grid-template-columns: repeat(2, 1fr);
  }

  svg {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: -267px;
  }
}

.hire-developers__section-works {
  margin-bottom: 100px;
}

.services-list__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  ul {
    background: #ffffff;
    border: 1px solid #e8e7e5;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    list-style-position: inside;
    list-style-type: none;
    box-shadow: 0 5px 0 0 #2215f9;
    height: 100%;
  }

  ul li::before {
    content: "▪"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2215f9; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    // margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 0.5em;
  }

  li {
    font-family: Formular;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    padding-bottom: 30px;

    color: #000000;

    &:last-child {
      padding: 0;
    }
  }
}

// Crucial Responsibilities

.section-responsibilities__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // margin-bottom: 70px;

  &-item {
    // margin: 30px;
    background: #ffffff;
    border: 1px solid #e8e7e5;
    box-sizing: border-box;
    box-shadow: 0 5px 0 0 #2215f9;
    font-family: Formular;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;

    color: #2215f9;

    width: 260px;
    min-height: 120px;
    height: auto;

    margin: 15px;
  }
}

.section-responsibilities__description {
  padding: 70px;
}
.section-responsibilities__button {
  background: #2215f9;
  max-width: 413px;
  width: auto;
  height: 76px;
  margin: 80px auto 30px auto;

  @include fluid-type1(18px, 24px);
  line-height: 1.2;

  font-family: Formular;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  text-transform: uppercase;

  color: #ffffff;
}

// PHP Developer PAGE

.php-developer__section-projects__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $medium-gap;
  grid-auto-rows: 450px;

  margin-bottom: 100px;

  @include respond-to("small") {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 500px;
  }
  @include respond-to("large") {
    grid-gap: $full-gap;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-rows: 594px;
  }

  .section-projects__list-item {
    background: black;
    box-sizing: border-box;
    box-shadow: 0 5px 0 0 #2215f9;
    position: relative;

    height: 100%;

    font-family: Formular;
    @include fluid-type1(21px, 31px);
    line-height: 1.2;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

    padding: 30px;

    color: #ffffff;

    p {
      margin: 0;
      z-index: 1;
    }
  }
}

.fill-blue {
  svg {
    path {
      fill: #2215f9;
    }
  }
}

.hire-developers__sidenav-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px !important;

  @include respond-to("small") {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px !important;
  }

  .shared__section-grid {
    flex: 1 1;
    width: auto !important;
    margin-bottom: 0;
  }
}

.hire-developers__sidenav {
  padding: 25px 50px 15px 25px !important;
  background: #fff;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  border: 1px solid #e8e7e5;
  margin: 0 0 15px 0 !important;

  @include respond-to("small") {
    margin: 0 10px 0 10px !important;
  }

  .sidenav__item:first-child {
    margin-bottom: 35px;
  }
  .sidenav__item {
    margin-bottom: 10px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      text-transform: capitalize;
      &:hover {
        box-sizing: border-box;
        box-shadow: 0 4px 0 0 #2215f9;
        color: #2215f9;
      }
    }
  }

  .active {
    color: #2215f9 !important;
    box-sizing: border-box;
  }
}
