@import "./variables";

.section {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 85%;
  grid-template-rows: repeat(3, auto);

  width: 95%;
  margin-left: auto;

  @include respond-to("small") {
    grid-template-columns: 1fr 70%;
    width: unset;
    margin-left: unset;
  }

  overflow: hidden;
}

.section__bg {
  position: absolute;
  z-index: -1;
  grid-column: 2;
  width: 100%;
  height: 100%;
  // background: #1b0dff;
  background-image: linear-gradient(237.85deg, #1b0dff 25%, #ff0052 100%);
  background-repeat: no-repeat;
}

.section__title {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;

  @include fluid-type1(24px, 48px);
  line-height: 1.2;

  grid-column: 2;
  margin: 0;
  padding: 20px 0 35px 15px;

  @include respond-to("medium") {
    padding: 50px 0 50px 85px;
  }

  max-height: 175px;
}

.section__vector {
  overflow: hidden;
  position: absolute;
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 100%;
  width: 100%;

  svg {
    top: -204px;
    left: 50vw;
    position: absolute;

    @include respond-to("full") {
      right: 10px;
    }
  }
}

.section__slider {
  grid-column: 2;
  width: 110%;
  justify-self: end;

  .slider__item {
    position: relative;
    border-bottom: $border-bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background: #2215f9;

    padding-bottom: 85%;

    @include respond-to("small") {
      padding-bottom: 75%;
    }

    .slide__info {
      position: absolute;
      width: 90%;
      height: 100%;
      margin: auto 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .slide__header {
        text-transform: uppercase;
        font-weight: 600;

        margin: 0;
        padding: 20px 0;

        @include respond-to("large") {
          padding: 1.5vw 0;
        }
        @include respond-to("full") {
          padding: 30px 0;
        }

        line-height: 1.2;

        @include fluid-type1(18px, 31px);
      }

      .slide__subheader {
        display: none;
        margin: 0;

        @include fluid-type1(18px, 24px);
        font-weight: 500;

        @include respond-to("large") {
          display: block;
        }
      }
      .slide__text {
        display: none;
        padding: 0;
        margin: 0 0 5% 0;
        font-size: 1em;
        @include respond-to("large") {
          display: block;
        }
      }
    }
    &:hover {
      cursor: pointer;
      @include respond-to("large") {
        .slide__info {
          animation: hover-slider-item 0.8s ease forwards;
        }
      }
    }
  }
  @include respond-to("small") {
    width: 125%;
    margin-right: 0;
    grid-column: 2;
  }
}
.section__slider-nav {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 25px 0 25px 30px;

  @include respond-to("medium") {
    padding: 40px 0 30px 85px;
  }
  .slider-nav__prev {
    width: 20px;
    height: 20px;
    background-image: image-url("_prev.svg");
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 12vw;
    &:hover {
      cursor: pointer;
    }
    @include respond-to("small") {
      width: 30px;
      height: 30px;
    }
  }
  .slider-nav__next {
    width: 20px;
    height: 20px;
    background-image: image-url("_next.svg");
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 3vw;
    &:hover {
      cursor: pointer;
    }
    @include respond-to("small") {
      width: 30px;
      height: 30px;
    }
  }
  .slider__counter {
    color: #fff;
    font-weight: 600;

    margin-right: 8vw;

    @include fluid-type1(24px, 32px);
  }
  .button__more-cases {
    text-decoration: none;
    background-color: #2215f9;
    color: #fff;
    font-weight: 600;

    @include fluid-type1(18px, 24px);

    display: none;

    @include respond-to("small") {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    padding: 0 35px;

    height: 75px;

    &:hover {
      cursor: pointer;
      animation: hover-simple-button 0.5s ease forwards;
    }
  }
}
